apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: (devel)
  creationTimestamp: null
  name: nstemplatesets.toolchain.dev.openshift.com
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.tierName
    name: Tier Name
    type: string
  - JSONPath: .status.conditions[?(@.type=="Ready")].status
    name: Ready
    type: string
  - JSONPath: .status.conditions[?(@.type=="Ready")].reason
    name: Reason
    type: string
  group: toolchain.dev.openshift.com
  names:
    kind: NSTemplateSet
    listKind: NSTemplateSetList
    plural: nstemplatesets
    singular: nstemplateset
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: NSTemplateSet defines user environment via templates that are used
        for namespace provisioning
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: NSTemplateSetSpec defines the desired state of NSTemplateSet
          properties:
            clusterResources:
              description: the cluster resources template (for cluster-wide quotas,
                etc.)
              properties:
                revision:
                  description: The revision of the corresponding template
                  type: string
                template:
                  description: Template contains an OpenShift Template to be used
                    for provisioning of cluster-scoped resources
                  type: string
              required:
              - revision
              - template
              type: object
            namespaces:
              description: The namespace templates
              items:
                description: NSTemplateSetNamespace the namespace definition in an
                  NSTemplateSet resource
                properties:
                  revision:
                    description: The revision of the corresponding template
                    type: string
                  template:
                    description: Optional field. Used to specify a custom template
                    type: string
                  type:
                    description: 'The type of the namespace. For example: ide|cicd|stage|default'
                    type: string
                required:
                - revision
                - type
                type: object
              type: array
            tierName:
              description: The name of the tier represented by this template set
              type: string
          required:
          - namespaces
          - tierName
          type: object
        status:
          description: NSTemplateSetStatus defines the observed state of NSTemplateSet
          properties:
            conditions:
              description: 'Conditions is an array of current NSTemplateSet conditions
                Supported condition types: ConditionReady'
              items:
                properties:
                  lastTransitionTime:
                    description: Last time the condition transit from one status to
                      another.
                    format: date-time
                    type: string
                  message:
                    description: Human readable message indicating details about last
                      transition.
                    type: string
                  reason:
                    description: (brief) reason for the condition's last transition.
                    type: string
                  status:
                    description: Status of the condition, one of True, False, Unknown.
                    type: string
                  type:
                    description: Type of condition
                    type: string
                required:
                - status
                - type
                type: object
              type: array
          type: object
      x-kubernetes-preserve-unknown-fields: true
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
