kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: member-operator
rules:
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - "get"
  - "create"
- apiGroups:
  - ""
  resources:
  - nodes
  - componentstatuses
  - pods
  - services
  verbs:
  - list
  - get
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - create
  - update
  - list
  - watch
- apiGroups:
  - user.openshift.io
  resources:
  - identities
  - users
  - useridentitymappings
  - groups
  verbs:
  - get
  - create
  - update
  - list
  - watch
  - delete
- apiGroups:
  - core.kubefed.io
  resources:
  - kubefedclusters
  verbs:
  - "*"
- apiGroups:
  - toolchain.dev.openshift.com
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - rbac.authorization.k8s.io
  - authorization.openshift.io
  resources:
  - rolebindings
  - role
  - clusterroles
  verbs:
  - "*"
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - "get"
  - "create"
  - "list"
  - "watch"
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - "get"
  - "list"
- apiGroups:
  - authorization.openshift.io
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  - subjectaccessreviews
  - resourceaccessreviews
  verbs:
  - get
  - list
