kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: member-operator
rules:
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - "get"
  - "create"
- apiGroups:
  - ""
  resources:
  - nodes
  - pods
  - watch
  - get
  verbs:
  - "list"
- apiGroups:
  - ""
  resources:
  - namespaces
  - limitranges
  verbs:
  - get
  - create
  - update
  - list
  - watch
  - delete
- apiGroups:
  - user.openshift.io
  resources:
  - identities
  - users
  - useridentitymappings
  - groups
  verbs:
  - "*"
- apiGroups:
  - core.kubefed.io
  resources:
  - kubefedclusters
  verbs:
  - "*"
- apiGroups:
  - toolchain.dev.openshift.com
  resources:
  - "*"
  verbs:
  - "*"
- apiGroups:
  - rbac.authorization.k8s.io
  - authorization.openshift.io
  resources:
  - rolebindings
  - roles
  - clusterroles
  - clusterrolebindings
  verbs:
  - "*"
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - "get"
  - "create"
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - "get"
  - "list"
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - "*"
- apiGroups:
  - quota.openshift.io
  resources:
  - clusterresourcequotas
  verbs:
  - "*"