---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: workspaces.toolchain.dev.openshift.com
spec:
  group: toolchain.dev.openshift.com
  names:
    kind: Workspace
    listKind: WorkspaceList
    plural: workspaces
    singular: workspace
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.owner
      name: Owner
      type: string
    - jsonPath: .status.role
      name: Role
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Workspace is the Schema for the workspaces API but it is only
          for use by the Proxy. There will be no actual Workspace CRs in the host/member
          clusters. The CRD will be installed in member clusters for API discovery
          purposes only. The schema will be used by the proxy's workspace lister API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          status:
            description: WorkspaceStatus defines the observed state of a Workspace
            properties:
              availableRoles:
                description: AvailableRoles contains the roles for this tier. For
                  example, "admin|contributor|maintainer".
                items:
                  type: string
                type: array
              bindings:
                description: Bindings enumerates the permissions that have been granted
                  to users within the current workspace, and actions that workspace
                  admin users can apply to those permissions.
                items:
                  properties:
                    availableActions:
                      description: 'AvailableActions is a list of actions that can
                        be performed on the binding. Available values: - "update"
                        when the role in the current binding can be changed - "delete"
                        when the current binding can be deleted - "override" when
                        the current binding can be overwritten by a new binding containing
                        same MasterUserRecord but different role'
                      items:
                        type: string
                      type: array
                    masterUserRecord:
                      description: MasterUserRecord is the name of the user that has
                        access to the workspace.
                      type: string
                    role:
                      description: Role is the role of the user in the current workspace.
                        For example "admin" for the user that has all permissions
                        on the current workspace.
                      type: string
                  type: object
                type: array
              namespaces:
                description: The list of namespaces belonging to the Workspace.
                items:
                  description: SpaceNamespace is a common type to define the information
                    about a namespace within a Space Used in NSTemplateSet, Space
                    and Workspace status
                  properties:
                    name:
                      description: Name the name of the namespace.
                      type: string
                    type:
                      description: Type the type of the namespace. eg. default
                      type: string
                  type: object
                type: array
                x-kubernetes-list-type: atomic
              owner:
                description: Owner the name of the UserSignup that owns the workspace.
                  It’s the user who is being charged for the usage and whose quota
                  is used for the workspace. There is only one user for this kind
                  of relationship and it can be transferred to someone else during
                  the lifetime of the workspace. By default, it’s the creator who
                  becomes the owner as well.
                type: string
              role:
                description: Role defines what kind of permissions the user has in
                  the given workspace.
                type: string
              type:
                description: Type defines the type of workspace. For example, "home"
                  for a user's given workspace upon first signing up. It is currently
                  valid for this value to be empty.
                type: string
            type: object
        type: object
        x-kubernetes-preserve-unknown-fields: true
    served: true
    storage: true
    subresources:
      status: {}
