---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: nstemplatesets.toolchain.dev.openshift.com
spec:
  group: toolchain.dev.openshift.com
  names:
    kind: NSTemplateSet
    listKind: NSTemplateSetList
    plural: nstemplatesets
    singular: nstemplateset
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.tierName
      name: Tier
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].reason
      name: Reason
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NSTemplateSet defines user environment via templates that are
          used for namespace provisioning
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NSTemplateSetSpec defines the desired state of NSTemplateSet
            properties:
              clusterResources:
                description: the cluster resources template (for cluster-wide quotas,
                  etc.)
                properties:
                  templateRef:
                    description: TemplateRef The name of the TierTemplate resource
                      which exists in the host cluster and which contains the template
                      to use
                    type: string
                required:
                - templateRef
                type: object
              namespaces:
                description: The namespace templates
                items:
                  description: NSTemplateSetNamespace the namespace definition in
                    an NSTemplateSet resource
                  properties:
                    templateRef:
                      description: TemplateRef The name of the TierTemplate resource
                        which exists in the host cluster and which contains the template
                        to use
                      type: string
                  required:
                  - templateRef
                  type: object
                type: array
                x-kubernetes-list-type: atomic
              spaceRoles:
                description: the role template and the users to whom the templates
                  should be applied to
                items:
                  description: NSTemplateSetSpaceRole the role template and the users
                    to whom the templates should be applied to
                  properties:
                    templateRef:
                      description: TemplateRef The name of the TierTemplate resource
                        which exists in the host cluster and which contains the template
                        to use
                      type: string
                    usernames:
                      description: Usernames the usernames to which the template applies
                      items:
                        type: string
                      type: array
                      x-kubernetes-list-type: atomic
                  required:
                  - templateRef
                  - usernames
                  type: object
                type: array
                x-kubernetes-list-type: atomic
              tierName:
                description: The name of the tier represented by this template set
                type: string
            required:
            - namespaces
            - tierName
            type: object
          status:
            description: NSTemplateSetStatus defines the observed state of NSTemplateSet
            properties:
              clusterResources:
                description: the cluster resources template (for cluster-wide quotas,
                  etc.) provisioned for the current NSTemplateSet CR
                properties:
                  templateRef:
                    description: TemplateRef The name of the TierTemplate resource
                      which exists in the host cluster and which contains the template
                      to use
                    type: string
                required:
                - templateRef
                type: object
              conditions:
                description: 'Conditions is an array of current NSTemplateSet conditions
                  Supported condition types: ConditionReady'
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transit from one status
                        to another.
                      format: date-time
                      type: string
                    lastUpdatedTime:
                      description: Last time the condition was updated
                      format: date-time
                      type: string
                    message:
                      description: Human readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: (brief) reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              featureToggles:
                description: FeatureToggles holds the list of feature toggles/flags
                  enabled for the current NSTemplateSet CR
                items:
                  description: 'FeatureToggle defines a feature toggle/flag. Each
                    feature is supposed to have a unique name. Features are represented
                    by kube object manifests in space and user templates. Such manifests
                    must have an annotation which refers to the corresponding feature
                    name. For example a manifest for a RoleBinding object in a space
                    tier template with the following annotation: "toolchain.dev.openshift.com/feature:
                    os-lightspeed" would refer to a feature with "os-lightspeed" name.
                    When that template is applied for a new space then that RoleBinding
                    object would be applied conditionally, according to its weight.'
                  properties:
                    name:
                      description: A unique name of the feature
                      type: string
                    weight:
                      default: 100
                      description: 'Rollout weight of the feature. An integer between
                        0-100. If not set then 100 is used by default. 0 means the
                        corresponding feature should not be enabled at all, which
                        means that corresponding template objects should not be applied
                        at all. 100 means the feature should be always enabled (the
                        template is always applied). The features are weighted independently
                        of each other. For example if there are two features: - feature1,
                        weight=5 - feature2, weight=90 And tiers (one or many) contain
                        the following object manifests: - RoleBinding with "toolchain.dev.openshift.com/feature:
                        feature1" annotation - ConfigMap with "toolchain.dev.openshift.com/feature:
                        feature2" annotation Then the RoleBinding will be created
                        for the corresponding tiers with probability of 0.05 (around
                        5 out of every 100 spaces would have it) And the ConfigMap
                        will be created with probability of 0.9 (around 90 out of
                        every 100 spaces would have it)'
                      maximum: 100
                      minimum: 0
                      type: integer
                  required:
                  - name
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
              namespaces:
                description: The namespace templates provisioned for the current NSTemplateSet
                  CR
                items:
                  description: NSTemplateSetNamespace the namespace definition in
                    an NSTemplateSet resource
                  properties:
                    templateRef:
                      description: TemplateRef The name of the TierTemplate resource
                        which exists in the host cluster and which contains the template
                        to use
                      type: string
                  required:
                  - templateRef
                  type: object
                type: array
                x-kubernetes-list-type: atomic
              provisionedNamespaces:
                description: ProvisionedNamespaces is a list of Namespaces that were
                  provisioned by the NSTemplateSet.
                items:
                  description: SpaceNamespace is a common type to define the information
                    about a namespace within a Space Used in NSTemplateSet, Space
                    and Workspace status
                  properties:
                    name:
                      description: Name the name of the namespace.
                      type: string
                    type:
                      description: Type the type of the namespace. eg. default
                      type: string
                  type: object
                type: array
                x-kubernetes-list-type: atomic
              spaceRoles:
                description: the role template and the users to whom the templates
                  was applied for the current NSTemplateSet CR
                items:
                  description: NSTemplateSetSpaceRole the role template and the users
                    to whom the templates should be applied to
                  properties:
                    templateRef:
                      description: TemplateRef The name of the TierTemplate resource
                        which exists in the host cluster and which contains the template
                        to use
                      type: string
                    usernames:
                      description: Usernames the usernames to which the template applies
                      items:
                        type: string
                      type: array
                      x-kubernetes-list-type: atomic
                  required:
                  - templateRef
                  - usernames
                  type: object
                type: array
                x-kubernetes-list-type: atomic
            type: object
        type: object
        x-kubernetes-preserve-unknown-fields: true
    served: true
    storage: true
    subresources:
      status: {}
